# Introduction
Introduction à Colab Notebooks<br />
Outils collaboratifs avec Python intégré<br />
Nombreuses librairies (Numpy, Pandas, Xarray, Matplotlib)

#Bases de Python
https://courspython.com/bases-python.html

La fonction print

In [ ]:
print("hello world")

hello world

La fonction range().<br />
Si vous avez besoin de créer une suite d’entiers, vous pouvez utiliser la fonction range(). Elle génère une suite arithmétique.

In [ ]:
range(10)

En language Python 3, si on souhaite afficher les valeurs, il est nécessaire de convertir le résultat en liste grâce à la fonction list(). Par exemple :

In [ ]:
list(range(10))

Accès aux éléments d’une liste

In [ ]:
a = list(range(1,10,2))
a

La fonction len() renvoie le nombre d’éléments. Par exemple :

In [ ]:
a = list(range(7,10))
len(a)

Voici un premier exemple de programme comprenant un boucle for:

In [ ]:
for i in [0, 1, 2]:
    print("valeur :", i)
print("Fin")

# Librairie NumPy
https://courspython.com/apprendre-numpy.html

La bibliothèque NumPy (http://www.numpy.org/) permet d’effectuer des calculs numériques avec Python. Elle introduit une gestion facilitée des tableaux de nombres.

Pour utiliser NumPy, vous devez au préalable vous placer dans un environnement qui comprend cette bibliothèque, voir Introduction à Python.

Il faut au départ importer le package numpy avec l’instruction suivante :

In [12]:
import numpy as np

Variables prédéfinies

NumPy permet d’obtenir la valeur de pi.

In [ ]:
np.pi

Tableaux - numpy.array(). Voir la différence avec une liste! ici on peut stocker différents types de variables.

In [ ]:
a = np.array([1, 2, 3, 4])
a
#print[a]

In [ ]:
b = np.array(["numbers", 3, 6, 9, 12])
print(b)

Tableau 2D

In [ ]:
b = np.array([[1, 2, 3], [4, 5, 6]])
#b = np.array([[1, 2], [3, 4], [5, 6]])
b
#type(b)
print(b)

La fonction arange()

In [ ]:
m = np.arange(3,15,2)
m
#print(m)

# Librairie Pandas
Pandas est une librairie Python utilisée pour travailler avec des sets de données plus complexes qu'avec Numby.
https://pandas.pydata.org/docs/user_guide/10min.html

In [32]:
import pandas as pd

Création d'une série

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s
#print(s)

Création d'une structure ou table à 2 dimensions

In [ ]:
dates = pd.date_range("20130101", periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

Sélection d'une colonne

In [ ]:
df["C"]

Sélection d'une ligne

In [ ]:
df.loc[dates[1]]

Visualiser une partie des données

In [ ]:
df.head()

In [ ]:
df.tail(3)

Classer le tableau par axe ou index

In [ ]:
df.sort_index(axis=1, ascending=False)

In [ ]:
df.sort_values(by="B")

Sélection par label

In [ ]:
df.loc[dates[2]]

Sélection par position

In [ ]:
df.iloc[:, 3]

Données manquantes. On utilise la fonction np.nan (Not A Number) pour représenter les données manquantes.

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "A"] = np.nan
df1.loc[dates[0] : dates[1], "E"] = 1
df1