<a href="https://colab.research.google.com/github/fbourrin/Python/blob/main/TD1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction
Introduction à Colab Notebooks<br />
Outils collaboratifs avec Python intégré<br />
Nombreuses librairies (Numpy, Pandas, Xarray, Matplotlib)

#Bases de Python
https://courspython.com/bases-python.html

La fonction print

In [ ]:
print("hello world")

hello world

La fonction range().<br />
Si vous avez besoin de créer une suite d’entiers, vous pouvez utiliser la fonction range(). Elle génère une suite arithmétique.

In [ ]:
range(10)

En language Python 3, si on souhaite afficher les valeurs, il est nécessaire de convertir le résultat en liste grâce à la fonction list(). Par exemple :

In [ ]:
list(range(10))

Accès aux éléments d’une liste

In [ ]:
a = list(range(1,10,2))
a

La fonction len() renvoie le nombre d’éléments. Par exemple :

In [ ]:
a = list(range(7,10))
len(a)

Voici un premier exemple de programme comprenant un boucle for:

In [ ]:
for i in [0, 1, 2]:
    print("valeur :", i)
print("Fin")

Question 1: Créer une liste de 10 à 100 espacée de 20
Créer ensuite une liste allant de -10 à -100 espacée de 30

In [ ]:
# à compléter

# Librairie NumPy
https://courspython.com/apprendre-numpy.html

La bibliothèque NumPy (http://www.numpy.org/) permet d’effectuer des calculs numériques avec Python. Elle introduit une gestion facilitée des tableaux de nombres.

Pour utiliser NumPy, vous devez au préalable vous placer dans un environnement qui comprend cette bibliothèque, voir Introduction à Python.

Il faut au départ importer le package numpy avec l’instruction suivante :

In [3]:
import numpy as np

Variables prédéfinies

NumPy permet d’obtenir la valeur de pi.

In [ ]:
np.pi

Tableaux - numpy.array(). Voir la différence avec une liste! ici on peut stocker différents types de variables.

In [ ]:
a = np.array([1, 2, 3, 4])
a

In [ ]:
b = np.array(["numbers", 3, 6, 9, 12])
print(b)

Tableau 2D

In [ ]:
c = np.array([[1, 2, 3], [4, 5, 6]])
c

La fonction arange()

In [ ]:
m = np.arange(3,15,2)
m

Question 2: Créez un tableau de 2 colonnes et 3 lignes comprenant les valeurs suivantes 1, 2, 3, 4, 5 et 6

In [ ]:
# à compléter

# Librairie Pandas
Pandas est une librairie Python utilisée pour travailler avec des sets de données plus complexes qu'avec Numby.
https://pandas.pydata.org/docs/user_guide/10min.html

In [ ]:
import pandas as pd

Création d'une série

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

Création d'une structure ou table à 2 dimensions

In [ ]:
dates = pd.date_range("20130101", periods=6)
dates

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

Sélection d'une colonne

In [ ]:
df["C"]

Sélection d'une ligne

In [ ]:
df.loc[dates[1]]

Visualiser une partie des données

In [ ]:
df.head()

In [ ]:
df.tail(3)

Classer le tableau par axe ou index

In [ ]:
df.sort_index(axis=1, ascending=False)

In [ ]:
df.sort_values(by="B")

Sélection par label

In [ ]:
df.loc[dates[2]]

Sélection par position

In [ ]:
df.iloc[:, 3]

Données manquantes. On utilise la fonction np.nan (Not A Number) pour représenter les données manquantes.

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])
df1.loc[dates[0] : dates[1], "A"] = np.nan
df1.loc[dates[0] : dates[1], "E"] = 1
df1

Question 3: Voici plusieurs listes de données correspondants aux planètes du système solaire. On a une liste pour le nom des planètes, une liste pour la distance et une pour la masse.
Complétez la cellule afin d'avoir un dataframe planetes qui représentent ces variables. On pourra mettre l'ordre des planètes comme indice. Le nom des colonnes sera 'nom', 'distance' et 'masse'.
Les unitées sont relatives à la Terre (=1)

In [ ]:
nom_planetes = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
distance_planetes = [ 0.38709893, 0.72333199, 1.0, 1.52366231, 5.20336301, 9.6, 19.19126393, 30.0]
masse_planetes =[0.055, 0.8150000000000001, 1.0, 0.107, 317.8, 95.152, 14.536, 17.147]

# à compléter ...

# Librairie Matplotlib
L'interface Pyplot de Matplotlib permet de faire les graphiques.

In [ ]:
import matplotlib.pyplot as plt
plt.plot([1, 2, 3, 4])
plt.ylabel('some numbers')
plt.show()

Formattez le style de votre graphique

In [ ]:
plt.plot([1, 2, 3, 4], [1, 4, 9, 16], 'ro')
plt.axis([0, 6, 0, 20])
plt.show()

Faire des scatter plots

In [ ]:
names = ['group_a', 'group_b', 'group_c']
values = [1, 10, 100]

plt.figure(figsize=(9, 3))

plt.subplot(131)
plt.bar(names, values)
plt.subplot(132)
plt.scatter(names, values)
plt.subplot(133)
plt.plot(names, values)
plt.suptitle('Categorical Plotting')
plt.show()

Question 4: Reprenez le dataframe planetes créé plus haut et réaliser un scatter plot présentant la distance des planètes (en x) par rapport à leur masse (en y)

In [ ]:
# à compléter ....